DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/contacts_db
SECRET_KEY=supersecretkey_change_me_in_production
ALGORITHM=HS256

# SMTP configurations (e.g., Mailtrap or Gmail)
MAIL_USERNAME=user@example.com
MAIL_PASSWORD=secret_password
MAIL_FROM=user@example.com
MAIL_PORT=587
MAIL_SERVER=smtp.mailtrap.io
MAIL_FROM_NAME=ContactsRESTAPI

# Cloudinary configurations for avatar upload
CLOUDINARY_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

REDIS_URL=redis://localhost:6379/0

